PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bingetracker?schema=public"
JWT_SECRET="bingetracker_super_secret_jwt_key_2026"
JWT_EXPIRES_IN="7d"
TMDB_API_KEY="c2936bcd9bcb057561090c318313aebc"
CLIENT_ORIGIN="http://localhost:5173"
